:root {
  --corTextoPrincipal: #111827;
  --corIconesBotoes: #226add;
  --corHoverIconesBotoes: #307af0;
  --corTexto: #6a6d73;
  --fonte: "Mulish", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  background: linear-gradient(0deg, #ffffff, #d9ebff),
    linear-gradient(180deg, #ffffff, #d9ebff);
  min-height: 100vh;
}
