:root{
  --corTextoPrincipal: #111827,
  --corIconesBotoes: #3C83F6,
  --corTexto: #858C96
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
  background: linear-gradient(0deg, #FFFFFF, #D9EBFF), linear-gradient(180deg, #FFFFFF, #D9EBFF);
  min-height: 100vh;
}
